<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUG Journal Ranking 2023</title>
    <link rel="icon" href="/static/image/logo32blue.svg">
    <!-- 兼容性设置 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 缩放设置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet"  type="text/css">
    <script src="{% static 'js/jquery-3.6.1.js' %}" type="text/javascript" charset="UTF-8"></script>
    <style>
        label{
            margin-right: 8px;
        }
    </style>
    <script>
        function write_tbody(id, search) {
            $(`#${id} tbody:first`).empty();
            const tbody = document.querySelector(`#${id} tbody`);
            let num = 0
            for (var i = 0; i < data.length; i++) {
                var search_words = eval("/^.*?"+search+".*?$/");
                if (search_words.test(data[i]['name'].toUpperCase())) {
                    var tr = document.createElement('tr');
                    tbody.appendChild(tr);
                    num = num + 1;
                    var th = document.createElement('th');
                    th.innerHTML = num;
                    tr.appendChild(th);
                    for (var k in data[i]) {
                        var td = document.createElement('td');
                        td.innerHTML = data[i][k];
                        tr.appendChild(td);
                    }
                }
            }
        }
        function clear_search() {
            $('#search').val('');
            refresh_table();
        }
        function search_database() {
            if ($('#search').val().length !== 0) {
                refresh_table();
            }
        }
        function refresh_table() {
            const id = $("#Standards").prop('checked') ? "StandardsTable" : $("#Instruments").prop('checked') ? "InstrumentsTable" : "LaboratoriesTable";
            const search = $('#search').val().toUpperCase();
            write_tbody(id, search);
        }
        function add_to_database() {

        }
        function items_changed(dom) {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(box => {
                if (box !== dom) { box.checked = false; }
            });
            $.each($('table'), (index, item) => {
                const $table = $(item);
                $table.attr('hidden', $table.attr('id').includes(dom.id) ? !dom.checked : true);
            });
            get_data();
        }
        function get_data() {
            $.ajax({
                url: "{% url 'params_views' 'change_database' %}",
                type: 'POST',
                data: JSON.stringify({
                    'type': $("#Standards").prop('checked') ? "Standards" : $("#Instruments").prop('checked') ? "Instruments" : "Laboratories"
                }),
                contentType:'application/json',
                success: function(res){
                    data = res.data;
                    console.log(data);
                    refresh_table();
                }
            })
        }
        $(document).ready(function () {
            get_data()
        });
    </script>
</head>
<body>
    <h1 style="margin-left: 80px">Ar-Ar Database</h1>
    <div style="margin-left: 80px">
        <br>
            <div>
                <label><input id="Standards" type="checkbox" onchange="items_changed(this)" checked>Standards</label>
                <label><input id="Instruments" type="checkbox" onchange="items_changed(this)">Instruments</label>
                <label><input id="Laboratories" type="checkbox" onchange="items_changed(this)">Laboratories</label>
                <label><input id="search" type="search" style="width: 200px"></label>
                <button onclick="search_database()">Search</button>
                <button style="margin-left: 2px" onclick="clear_search()">Clear</button>
                <label> Contact：<a href="mailto:wuycug@hotmail.com" target="_blank">wuycug@hotmail.com</a></label>
                <button style="margin-left: 2px" onclick="add_to_database()">New</button>
            </div>
        <br>
    </div>
    <table id="StandardsTable" class="table table-bordered" style="width: 90%; margin-left: 80px">
        <thead>
            <tr>
                <th style="width: 40px">#</th>
                <th style="width: 250px">Name</th>
                <th style="width: 100px">Material</th>
                <th style="width: 100px">Location</th>
                <th style="width: 100px">Age [Ma]</th>
                <th style="width: 120px">± 1σ</th>
                <th style="width: 120px">40Ar* [mol/g]</th>
                <th style="width: 120px">± 1σ</th>
                <th style="width: 120px">K [wt%]</th>
                <th style="width: 120px">± 1σ</th>
                <th style="width: 120px">40Ar*/40K</th>
                <th style="width: 120px">± 1σ</th>
                <th style="width: 120px">Papers</th>
                <th style="width: 250px">Description</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
    <table id="InstrumentsTable" class="table table-bordered" style="width: 90%; margin-left: 80px" hidden>
        <thead>
            <tr>
                <th style="width: 40px">#</th>
                <th style="width: 250px">Name</th>
                <th style="width: 100px">Manufacturer</th>
                <th style="width: 100px">Cup Structure</th>
                <th style="width: 100px">Amplifier</th>
                <th style="width: 100px">Sensitivity</th>
                <th style="width: 100px">Resolution</th>
                <th style="width: 120px">Papers</th>
                <th style="width: 250px">Description</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
    <table id="LaboratoriesTable" class="table table-bordered" style="width: 90%; margin-left: 80px" hidden>
        <thead>
            <tr>
                <th style="width: 40px">#</th>
                <th style="width: 250px">Name</th>
                <th style="width: 100px">Country</th>
                <th style="width: 100px">City</th>
                <th style="width: 100px">Manager</th>
                <th style="width: 100px">Instruments</th>
                <th style="width: 120px">Papers</th>
                <th style="width: 250px">Description</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
    <table id="PeopleTable" class="table table-bordered" style="width: 90%; margin-left: 80px" hidden>
        <thead>
            <tr>
                <th style="width: 40px">#</th>
                <th style="width: 250px">Name</th>
                <th style="width: 100px">Affiliation</th>
                <th style="width: 100px">Tel</th>
                <th style="width: 100px">Email</th>
                <th style="width: 120px">Papers</th>
                <th style="width: 250px">Description</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>

</body>
<script>
    let data = {{ data | safe }};
</script>
</html>