{% extends 'home.html' %}

{% block content %}
    {% load static %}
    <div class="container-fluid" style="height: 700px">
{#        <iframe width="100%" height="100%" src="{% static 'document/test.pdf'%}" frameborder="0"></iframe>#}

    <div style="text-align: left; line-height: 1;">
        <span style="color: rgb(127, 127, 127); font-size: 15px; text-align: justify;"><strong># Last updated</strong></span>
        <span style="color: rgb(127, 127, 127); font-size: 15px; text-align: justify;"><strong>May 1, 2023</strong></span>
    </div>
    <div style="text-align: left; line-height: 1;"><br></div>
    <div style="text-align: left; line-height: 1;"><br></div>
    <div style="text-align: left; line-height: 1;"><br></div>
    <div style="text-align: left; line-height: 1;"><span class="first-title"><strong>TABLE OF CONTENTS</strong></span></div>
    <br><a href="#title-1"><span class="text-doc-content">1. Introduction</span></a>
    <br><a href="#title-2"><span class="text-doc-content">2. Functions</span></a>
    <br><a href="#title-2.1"><span class="text-doc-content" style="margin-left: 10px">2.1. Open files</span></a>
    <br><a href="#title-2.2"><span class="text-doc-content" style="margin-left: 10px">2.2. Tables</span></a>
    <br><a href="#title-2.3"><span class="text-doc-content" style="margin-left: 10px">2.3. Export</span></a>
    <br><a href="#title-3"><span class="text-doc-content">3. Calculation</span></a>
    <br><a href="#title-3.1"><span class="text-doc-content" style="margin-left: 10px">3.1. Error Propagation</span></a>
    <br><a href="#title-3.2"><span class="text-doc-content" style="margin-left: 10px">3.2. Scatter regression analysis</span></a>
    <br><a href="#title-3.3"><span class="text-doc-content" style="margin-left: 10px">3.3. Isochrons</span></a>
    <br><a href="#title-3.4"><span class="text-doc-content" style="margin-left: 10px">3.4. MDF</span></a>
    <br><a href="#title-3.5"><span class="text-doc-content" style="margin-left: 10px">3.5. MSWD</span></a>
    <br><a href="#title-4"><span class="text-doc-content">4. References</span></a>
    <div style="text-align: left; line-height: 1;"><br></div>
    <div style="text-align: left; line-height: 1;"><br></div>
    <br><span id="title-1" class="first-title"><strong>1. Introduction</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-2" class="first-title"><strong>2. Functions</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-2.1" class="first-title"><strong>2.1 Open Files</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-2.2" class="first-title"><strong>2.2 XXXXX</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-2.3" class="first-title"><strong>2.3 XXXXX</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-3" class="first-title"><strong>3 XXXXX</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-3.1" class="first-title"><strong>3.1 XXXXX</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-3.2" class="first-title"><strong>3.2 XXXXX</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-3.3" class="first-title"><strong>3.3 XXXX</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-3.4" class="first-title"><strong>3.4 XXXX</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-3.5" class="first-title"><strong>3.5 XXXX</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>
    <br><span id="title-4" class="first-title"><strong>4 XXXX</strong></span>
    <br><p class="main-text">
        In contrast to K–Ar dating, <sup>40</sup>Ar/<sup>39</sup>Ar dating is dependent on neutron irradiation resulting in the conversion of
        <sup>39</sup>K to <sup>39</sup>Ar via the <sup>39</sup>K(n, p)<sup>39</sup>Ar reaction. Since incident neutrons entering the nucleus and emerging protons
        leaving the nucleus require sufficient energy to overcome the Coulomb barrier, at least 1MeV energy is required
        for the incident neutrons activating the nuclear reaction. The bombardment of high-energy neutrons will give
        reaction products energy to move from their initial position according to classical mechanics. Turner and
        Cadogan (1974) recognized this recoil loss process could result in complete loss of daughter atoms after
        irradiation and calculated that the mean depletion depth in a semi-infinite medium is 0.082 μm for <sup>39</sup>Ar. The
        recoil loss of <sup>39</sup>Ar is also important for the other isotope used in neutron interference corrections such as
        <sup>39</sup>Ar and <sup>39</sup>Ar. For coarse-grained samples, recoil loss of <sup>39</sup>Ar during irradiation can generally be neglected,
        although the true recoil range may be underestimated (Hall, 2014). But it will significantly affect the
        <sup>40</sup>Ar/<sup>39</sup>Ar dating of fine-grained samples such as separated fractions of authigenic illite.
        <b>This is just a placeholder text.</b>
    </p>

    </div>
{% endblock %}
