<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地大最新期刊分类 (2023) - CUG Journal Ranking 2023</title>
    <link rel="icon" href="/static/image/logo32blue.svg">
    <!-- 兼容性设置 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 缩放设置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet"  type="text/css">
    <script src="{% static 'js/fingerprintjs2-2.1.4.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-3.6.1.js' %}" type="text/javascript" charset="UTF-8"></script>
    <style>
        label{
            margin-right: 8px;
        }
    </style>
    <script>
        function write_tbody(tiers, disciplines, search) {
            $("#tbody").empty();
            let num = 0
            data.forEach((journal, index) => {
                const search_words = eval("/^.*?"+search+".*?$/");
                if (tiers.includes(journal.tier) && disciplines.includes(journal.subject) && search_words.test(journal.full_name)) {
                    num = num + 1;
                    let tr = document.createElement('tr');
                    tr.style.backgroundColor = num%2===0? '#fffaf0':'#ffffff';
                    tbody.appendChild(tr);
                    let th = document.createElement('th');
                    th.innerHTML = num;
                    tr.appendChild(th);
                    for (let key in journal) {
                        if (!journal.hasOwnProperty(key)) { continue; }
                        const value = journal[key];
                        const td = document.createElement('td');
                        switch (key) {
                            case "full_name":
                                td.innerHTML = search.length === 0 ? value : value.split(search).join(`<em style=\"background-color: yellow\">${search}</em>`);
                                break;
                            case "letpub_id":
                                td.innerHTML = value === 0 ? `N/A` : `<button onclick=open_letpub(${value})>GoTo</button>`;
                                break;
                            case "tier":
                                td.innerHTML = `<span style=\"font-weight: bold\">${value}</span>`;
                                break;
                            default:
                                td.innerHTML = value;
                                break;
                        }
                        tr.appendChild(td);
                    }
                }
            });
        }
        function open_letpub(id) {
            window.open(`https://www.letpub.com.cn/index.php?journalid=${id}&page=journalapp&view=detail`, 'myWindow', 'width=1200,height=1000');
        }
        function clear_search() {
            $('#search').val('');
            refresh_table();
        }
        function search_journal() {
            if ($('#search').val().length !== 0) {
                refresh_table();
            }
        }
        function refresh_table() {
            var tiers = [];
            var disciplines = [];
            $("input[class='tier']:checked").each(function () {
                tiers.push($(this).val());
            })
            $("input.discipline:checked").each(function () {
                disciplines.push($(this).val());
            })
            if (disciplines.length !== 0 && $("#no_discipline").is(':checked')) {
                $("#no_discipline").prop("checked", false);
            }
            data.sort(function (a, b) {
                return parseInt(a['tier'][1])-parseInt(b['tier'][1])
            });
            search = $('#search').val().toUpperCase();
            write_tbody(tiers, disciplines, search);
        }
        function select_no_discipline() {
            var flag = false;
            if ($('#no_discipline').is(':checked')) {
                $("input.discipline:checked").each(function () {
                    $(this).prop('checked', false);
                    flag = true;
                });
                $("input[class='discipline_selector']:checked").prop('checked', false);
            }
            if (flag) {refresh_table();}
        }
        function select_all_disciplines() {
            var flag = false;
            if ($('#all_disciplines').is(':checked')) {
                $("input.discipline:not(:checked)").each(function () {
                    $(this).prop('checked', true);
                    flag = true;
                });
                $("input[class='discipline_selector']:not(:checked)").prop('checked', true);
                $('#no_discipline').prop('checked', false);
            }
            if (flag) {refresh_table();}
        }
        function select_geology() {
            var flag = false;
            if ($('#geology_disciplines').is(':checked')) {
                $("input.geology:not(:checked)").each(function () {
                    $(this).prop('checked', true);
                    flag = true;
                });
                $("input.not_geology:checked, input.social_sciences:checked").each(function () {
                    $(this).prop('checked', false);
                    flag = true;
                });
            }
            $('#no_discipline').prop('checked', false);
            $('#social_sciences_disciplines').prop('checked', false);
            $('#natural_sciences_disciplines').prop('checked', false);
            $('#all_disciplines').prop('checked', false);
            if (flag) {refresh_table();}
        }
        function select_natural_sciences() {
            var flag = false;
            if ($('#natural_sciences_disciplines').is(':checked')) {
                $("input.natural_sciences:not(:checked)").each(function () {
                    $(this).prop('checked', true);
                    flag = true;
                });
                $("input.social_sciences:checked").each(function () {
                    $(this).prop('checked', false);
                    flag = true;
                });
            }
            $('#no_discipline').prop('checked', false);
            $('#social_sciences_disciplines').prop('checked', false);
            $('#geology_disciplines').prop('checked', false);
            $('#all_disciplines').prop('checked', false);
            if (flag) {refresh_table();}
        }
        function select_social_sciences() {
            var flag = false;
            if ($('#social_sciences_disciplines').is(':checked')) {
                $("input.social_sciences:not(:checked)").each(function () {
                    $(this).prop('checked', true);
                    flag = true;
                });
                $("input.natural_sciences:checked").each(function () {
                    $(this).prop('checked', false);
                    flag = true;
                });
            }
            $('#no_discipline').prop('checked', false);
            $('#geology_disciplines').prop('checked', false);
            $('#natural_sciences_disciplines').prop('checked', false);
            $('#all_disciplines').prop('checked', false);
            if (flag) {refresh_table();}
        }
        function keyDownHandler(ev) {
            if (ev.keyCode === 13 && document.activeElement === document.getElementById('search')) {
                search_journal();
            }
        }
        $(document).ready(function () {
            refresh_table();
            window.addEventListener('keydown', keyDownHandler);
            $('#total_counter').text(total_count);
        });
    </script>
</head>
<body>
    <h1 style="margin-left: 80px">地大最新期刊分类（2023）</h1>
    <div style="margin-left: 80px">
        <br>
            <div>
                <label>[查看<a target="_blank" href="https://eniec.cug.edu.cn/info/1048/1885.htm">学校公告</a>]</label>
                <label>[按级别+最新影响因子排序]</label>
                <label>[数据来自网络，不保证100%准确，反馈：<a href="mailto:wuycug@hotmail.com" target="_blank">wuycug@hotmail.com</a>]</label>
                <label>[<a target="_blank" href="https://jcr.clarivate.com/jcr/browse-journals">查询影响因子</a>]</label>
                <label>[查看<a href="http://kyy.neu.edu.cn/2024/0716/c10457a266027/page.psp" target="_blank">Nature Index</a>期刊目录]</label>
                <label>[数据库更新时间：2025-07-14，浏览次数：<span id="total_counter"></span>]</label><br>
                <label style="color: orangered"><input id="geology_disciplines" class="discipline_selector" type="checkbox" checked onchange="select_geology()">地学类</label>
                <label><input id="natural_sciences_disciplines" class="discipline_selector" type="checkbox" onchange="select_natural_sciences()">理工类</label>
                <label><input id="social_sciences_disciplines" class="discipline_selector" type="checkbox" onchange="select_social_sciences()">人文社科类</label>
                <label><input id="all_disciplines" class="discipline_selector" type="checkbox" onchange="select_all_disciplines()">全部学科</label>
                <label><input id="no_discipline" type="checkbox" onchange="select_no_discipline()">全部取消</label>
                <label><input id="search" type="search" style="width: 200px"></label>
                <button onclick="search_journal()">搜索</button>
                <button style="margin-left: 2px" onclick="clear_search()">清空</button>
                <div id="discipline_div" style="margin-top: 5px; margin-bottom: 5px; margin-right: 80px">
                </div>
                <label><input type="checkbox" checked class="tier" value="T1" onchange="refresh_table()">T1</label>
                <label><input type="checkbox" checked class="tier" value="T2" onchange="refresh_table()">T2</label>
                <label><input type="checkbox" checked class="tier" value="T3" onchange="refresh_table()">T3</label>
                <label><input type="checkbox" checked class="tier" value="T4" onchange="refresh_table()">T4</label>
                <label><input type="checkbox" checked class="tier" value="T5" onchange="refresh_table()">T5</label>
                <label><input type="checkbox" checked class="tier" value="T6" onchange="refresh_table()">T6</label>
            </div>
        <br>
    </div>
    <table class="table table-bordered" style="width: 75%; margin-left: 80px">
        <thead>
            <tr>
                <th>#</th>
                <th>期刊名</th>
                <th style="width: 50px">级别</th>
                <th>学科</th>
                <th style="width: 100px">大类</th>
                <th style="width: 120px">2021 JIF</th>
                <th style="width: 120px">2022 JIF</th>
                <th style="width: 120px">2023 JIF</th>
                <th style="width: 120px">2024 JIF</th>
                <th style="width: 120px">LetPub</th>
{#                <th style="width: 120px">IF Diff 23-22</th>#}
            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>

</body>
<script>
    let data = {{ data | safe }};
    let total_count = {{ total_count | safe }};
    let tbody = document.querySelector('tbody');
    let geology_disciplines = [
        '理工综合类', '地质学', '大气科学', '海洋科学', '地球物理学',
        '石油与天然气工程', '环境科学与工程', '测绘科学与技术', '地质资源与地质工程（资源）', '地质资源与地质工程（地球信息）',
        '地质资源与地质工程（勘察地球物理）', '地质资源与地质工程（岩土钻掘）', '地质资源与地质工程（工程地质）'
    ];
    let natural_sciences_disciplines = [
        '信息与通信工程', '物理学', '土木工程', '水利工程', '环境科学与工程',
        '机械工程', '安全科学与工程', '地质资源与地质工程（资源）', '地球物理学', '数学',
        '计算机科学与技术', '地理科学', '地质资源与地质工程（勘察地球物理）', '化学', '石油与天然气工程',
        '材料科学与工程', '地质资源与地质工程（工程地质）', '大气科学', '地质学', '软件工程',
        '海洋科学', '测绘科学与技术', '生物学', '地质资源与地质工程（岩土钻掘）', '地质资源与地质工程（地球信息）',
        '控制科学与工程', '应用经济学', '理工综合类'
    ];
    let social_sciences_disciplines = [
        '工商管理', '管理科学与工程', '外国语言文学', '新闻传播学', '法学',
        '马克思主义理论', '设计学', '教育学', '公共管理', '体育学',
        '心理学'
    ];
    let all_disciplines = [
        '理工综合类', '地质学', '大气科学', '海洋科学', '地球物理学',
        '石油与天然气工程', '环境科学与工程', '测绘科学与技术', '地质资源与地质工程（资源）', '地质资源与地质工程（地球信息）',
        '地质资源与地质工程（勘察地球物理）', '地质资源与地质工程（岩土钻掘）', '地质资源与地质工程（工程地质）',

        '信息与通信工程', '物理学', '土木工程', '水利工程', '机械工程',
        '安全科学与工程', '数学', '计算机科学与技术', '地理科学', '化学',
        '材料科学与工程', '软件工程', '生物学', '控制科学与工程', '应用经济学',

        '工商管理', '管理科学与工程', '外国语言文学', '新闻传播学', '法学',
        '马克思主义理论', '设计学', '教育学', '公共管理', '体育学',
        '心理学',
    ];

    all_disciplines.forEach((discipline, index) => {
        let color = geology_disciplines.includes(discipline) ? "orangered" : "black";
        let classified = geology_disciplines.includes(discipline) ? "geology natural_sciences discipline" : natural_sciences_disciplines.includes(discipline) ? "not_geology natural_sciences discipline" : "social_sciences discipline";
        let checked = geology_disciplines.includes(discipline) ? "checked" : "";
        $("#discipline_div").append(`<label style="color: ${color}"><input type="checkbox" class="${classified}" ${checked} value="${discipline}" name="${discipline}" onchange="refresh_table()">${discipline}</label>`);
    })

    function post_fingerprint_journal_ranking(value) {
        $.ajax({
            url: "{% url 'journal_ranking' %}",
            type: 'POST',
            data: JSON.stringify({
                'fingerprint': value
            }),
            contentType:'application/json',
            success: function(res){
                // pass
            }
        })
    }

    if (window.requestIdleCallback) {
        requestIdleCallback(function () {
            Fingerprint2.get(function (components) {
                const values = components.map(components => components.value);
                const fingerprint = Fingerprint2.x64hash128(values.join(''), 31);  // 生成指纹
                console.log(fingerprint);
                post_fingerprint_journal_ranking(fingerprint);
            })
        });
    } else {
        setTimeout(function () {
            Fingerprint2.get(function (components) {
                const values = components.map(components => components.value);
                const fingerprint = Fingerprint2.x64hash128(values.join(''), 31);  // 生成指纹
                console.log(fingerprint);
                post_fingerprint_journal_ranking(fingerprint);
            })
        }, 500)
    }
</script>
</html>