{% extends 'home.html' %}

{% block content %}
    {% load static %}

    <div class="doc-content">
        <p><a href="/doc/tutorial">English</a></p>
        <h3 id="-">目录</h3>
        <ol>
        <li><a href="#基本流程">基本流程</a></li>
        <li><a href="#导入原始文件">导入原始文件</a></li>
        <li><a href="#arr文件">arr文件</a></li>
        <li><a href="#创建空白对象">创建空白对象</a></li>
        <li><a href="#设置原始文件过滤器">设置原始文件过滤器</a></li>
        <li><a href="#计算本底">计算本底</a></li>
        <li><a href="#图表内容">图表内容</a></li>
        <li><a href="#参数设置">参数设置</a></li>
        <li><a href="#重新计算">重新计算</a></li>
        <li><a href="#等时线选点">等时线选点</a></li>
        <li><a href="#修改图件样式">修改图件样式</a></li>
        <li><a href="#用等时线初始值扣空气氩">用等时线初始值扣空气氩</a></li>
        <li><a href="#年龄分布图">年龄分布图</a></li>
        <li><a href="#保存及导出">保存及导出</a></li>
        </ol>

        <h3><a href="/doc/zh-cn">概述</a></h3>
        <h3><a href="/doc/deploy/zh-cn">本地部署</a></h3>

    </div>

    <div class="container-fluid" style="height: 700px; width: 1000px">

    {% include "tutorial_zh_CN_md.html" %}

    </div>

{% endblock %}
